<!DOCTYPE html>
{% load static %}
<html>
<head>
        <link href="{% static "jquery.easyWizard-master/demo/css/styles.css" %}" rel="stylesheet">
		<link href="{% static "jquery.easyWizard-master/demo/css/bootstrap.min.css" %}" rel="stylesheet">
        <link href="{% static "jquery.easyWizard-master/demo/css/jquery.snippet.min.css" %}" rel="stylesheet">
        <link href="{% static "jquery.easyWizard-master/demo/css/bootstrap.css" %}" rel="stylesheet">
        <script src="http://code.jquery.com/jquery-latest.js"></script>
        <script src="{% static "jquery.easyWizard-master/lib/jquery.easyWizard.js" %}"></script>
</head>
<body>
<h1>Overhead Cabinets</h1>
<form id="myWizard" type="get" action="" class="form-horizontal">
	<section class="step" data-step-title="Dimensions of Cabin">
		<div class="control-group">
			<label class="control-label" for="cabinetWidth">Width</label>
			<div class="controls">
				<input type="number" id="cabinetWidth" placeholder="Width" class="input-xlarge" title="Width is required !" required >
			</div>
		</div>
		<div class="control-group">
			<label class="control-label" for="cabinetDepth">Depth</label>
			<div class="controls">
				<input type="number" id="cabinetDepth" placeholder="Depth" class="input-xlarge">
			</div>
		</div>
        <div class="control-group">
			<label class="control-label" for="cabinetHeight">Height</label>
			<div class="controls">
				<input type="number" id="cabinetHeight" placeholder="Height" class="input-xlarge">
			</div>
		</div>
        <div class="control-group">
			<label class="control-label" for="cabinetCount">No of Cabinets</label>
			<div class="controls">
				<input type="number" id="cabinetCount" placeholder="No of Cabinets" class="input-xlarge">
			</div>
		</div>
        <div class="control-group">
			<label class="control-label" for="shelvesCount_wood">No of Wooden Shelves</label>
			<div class="controls">
				<input type="number" id="shelvesCount_wood" placeholder="No of Wooden Shelves" class="input-xlarge">
			</div>
		</div>
        <div class="control-group">
			<label class="control-label" for="shelvesCount_glass">No of Glass Shelves</label>
			<div class="controls">
				<input type="number" id="shelvesCount_glass" placeholder="No of Glass Shelves" class="input-xlarge">
			</div>
		</div>
	</section>
	<section class="step" data-step-title="Dimensions of Shutters">
		<div class="control-group">
			<label class="control-label" for="shutterType">Type of Shutter</label>
			<div class="controls">
                <input id="shutterType" placeholder="Type of Shutter" class="input-xlarge" list="shutterdd" name="shutterType">
                    <datalist id="shutterdd">
                        <option value="Glass">
                        <option value="Wood">
                    </datalist>
			</div>
		</div>
        <div class="control-group">
			<label class="control-label" for="shutterWidth">Width</label>
			<div class="controls">
				<input type="number" id="shutterWidth" placeholder="Width" class="input-xlarge" title="Width is required !" required >
			</div>
		</div>
        <div class="control-group">
			<label class="control-label" for="shutterHeight">Height</label>
			<div class="controls">
				<input type="number" id="shutterHeight" placeholder="Height" class="input-xlarge">
			</div>
		</div>
        <div class="control-group">
			<label class="control-label" for="shutterCount">No of Cabinets</label>
			<div class="controls">
				<input type="number" id="shutterCount" placeholder="No of Shutter" class="input-xlarge">
			</div>
		</div>
	</section>
	<section class="step" data-step-title="Dimensions of Cornice & Pelmet">
		<div class="control-group">
			<label class="control-label" for="corniceWidth">Width of Cornice</label>
			<div class="controls">
				<input type="number" id="corniceWidth" placeholder="Width" class="input-xlarge" title="Width is required !" required >
			</div>
		</div>
        <div class="control-group">
			<label class="control-label" for="corniceHeight">Height of Cornice</label>
			<div class="controls">
				<input type="number" id="corniceHeight" placeholder="Height" class="input-xlarge">
			</div>
		</div>
        <div class="control-group">
			<label class="control-label" for="corniceCount">No of Cornice</label>
			<div class="controls">
				<input type="number" id="corniceCount" placeholder="No of Shutter" class="input-xlarge">
			</div>
		</div>
        <div class="control-group">
			<label class="control-label" for="pelmetWidth">Width of Pelmet</label>
			<div class="controls">
				<input type="number" id="pelmetWidth" placeholder="Width" class="input-xlarge" title="Width is required !" required >
			</div>
		</div>
        <div class="control-group">
			<label class="control-label" for="pelmetHeight">Height of Pelmet</label>
			<div class="controls">
				<input type="number" id="pelmetHeight" placeholder="Height" class="input-xlarge">
			</div>
		</div>
        <div class="control-group">
			<label class="control-label" for="pelmetCount">No of Pelmet</label>
			<div class="controls">
				<input type="number" id="pelmetCount" placeholder="No of Pelmet" class="input-xlarge">
			</div>
		</div>
	</section>
</form>

<script type="application/javascript">

 $('#myWizard').easyWizard({
    buttonsClass: 'btn',
    submitButtonClass: 'btn btn-info',
    before: function(wizardObj, currentStepObj, nextStepObj) {
{#        alert('Hello, I\'am the before callback');#}
    },
    after: function(wizardObj, prevStepObj, currentStepObj) {
{#        alert('Hello, I\'am the after callback');#}
    },
    beforeSubmit: function(wizardObj) {
         var cabinetWidth = parseInt(document.getElementById("cabinetWidth").value);
         var cabinetDepth = parseInt(document.getElementById("cabinetDepth").value);
         var cabinetHeight = parseInt(document.getElementById("cabinetHeight").value);
         var cabinetCount = parseInt(document.getElementById("cabinetCount").value);
         var shelvesCount_wood = parseInt(document.getElementById("shelvesCount_wood").value);
         var shelvesCount_glass = parseInt(document.getElementById("shelvesCount_glass").value);
         var shutterType = parseInt(document.getElementById("shutterType").value);
         var shutterWidth = parseInt(document.getElementById("shutterWidth").value);
         var shutterHeight = parseInt(document.getElementById("shutterHeight").value);
         var shutterCount = parseInt(document.getElementById("shutterCount").value);
         var corniceWidth = parseInt(document.getElementById("corniceWidth").value);
         var corniceHeight = parseInt(document.getElementById("corniceHeight").value);
         var corniceCount = parseInt(document.getElementById("corniceCount").value);
         var pelmetWidth = parseInt(document.getElementById("pelmetWidth").value);
         var pelmetHeight = parseInt(document.getElementById("pelmetHeight").value);
         var pelmetCount = parseInt(document.getElementById("pelmetCount").value);

         var amountCabinet = ((cabinetDepth*cabinetHeight/92903.04*2)+((cabinetWidth)*(cabinetDepth)/92903.04*2)+((cabinetWidth)*(cabinetHeight)/92903.04))*cabinetCount*250;
         var amountShelf_wood = (cabinetWidth)*(cabinetDepth)/92903.04*shelvesCount_wood*250;
         var amountSlelf_glass= (cabinetWidth)*(cabinetDepth)/92903.04*shelvesCount_glass*300;

         var m_lam = shutterWidth*shutterHeight/92903.04*shutterCount*500;
         var g_lam = shutterWidth*shutterHeight/92903.04*shutterCount*550;
         var diglam = shutterWidth*shutterHeight/92903.04*shutterCount*600;
         var bpa = shutterWidth*shutterHeight/92903.04*shutterCount*1100;
         var bpg = shutterWidth*shutterHeight/92903.04*shutterCount*1200;
         var pu = shutterWidth*shutterHeight/92903.04*shutterCount*1500;

         var g_45 =(((shutterWidth*2)+(shutterHeight*2))/300)*399;
         var g_19 =(((shutterWidth*2)+(shutterHeight*2))/300)*399;
         var stickon =(((shutterWidth*2)+(shutterHeight*2))/300)*334;
         var mode =(((shutterWidth*2)+(shutterHeight*2))/300)*456;
         var curve_45 =(((shutterWidth*2)+(shutterHeight*2))/300)*500;

         var amountCornice =corniceWidth*corniceHeight/92903.04*corniceCount*400;
         var amountPelmet =pelmetWidth*pelmetHeight/92903.04*pelmetCount*400;

         var amountHardware = (cabinetCount * 80) + (cabinetCount * 64) + (cabinetCount * 48) + (shelvesCount_wood * 40) + ((shelvesCount_glass * 80) + (cabinetCount * 180) + (250) + (200 * shutterCount);

         var amountFitting = cabinetWidth*cabinetHeight/92903.04*150;

         var amountHings_wood_re = shutterCount*64;
         var amountHings_glass_re = shutterCount*462;
         var amountHings_wood_ss = shutterCount*444;
         var amountHings_glass_ss = shutterCount*496;

        var total_mlam_re;
        var total_gllam_re;
        var total_digilam_re;
        var total_bpa_re;
        var total_bpg_re;
        var total_pu_re;
        var total_mlam_ss;
        var total_gllam_ss;
        var total_digilam_ss;
        var total_bpa_ss;
        var total_bpg_ss;
        var total_pu_ss;
        var gst_mlam_re;
        var total_mlam_re_gst;
        var gst_gllam_re;
        var total_gllam_re_gst;
        var gst_digilam_re;
        var total_digilam_re_gst;
        var gst_bpa_re;
        var total_bpa_re_gst;
        var gst_bpg_re;
        var total_bpg_re_gst;
        var gst_pu_re;
        var total_pu_re_gst;
        var gst_mlam_ss;
        var total_mlam_ss_gst;
        var gst_gllam_ss;
        var total_gllam_ss_gst;
        var gst_digilam_ss;
        var total_digilam_ss_gst;
        var gst_bpa_ss;
        var total_bpa_ss_gst;
        var gst_bpg_ss;
        var total_bpg_ss_gst;
        var gst_pu_ss;
        var total_pu_ss_gst;
        if (shutterType == "Wood") {
            total_mlam_re = (amountCabinet + amountShelf_wood + amountSlelf_glass + m_lam + curve_45 + amountCornice + amountPelmet + amountHardware + amountFitting + amountHings_wood_re);
            total_gllam_re = (amountCabinet + amountShelf_wood + amountSlelf_glass + g_lam + curve_45 + amountCornice + amountPelmet + amountHardware + amountFitting + amountHings_wood_re);
            total_digilam_re = (amountCabinet + amountShelf_wood + amountSlelf_glass + diglam + curve_45 + amountCornice + amountPelmet + amountHardware + amountFitting + amountHings_wood_re);
            total_bpa_re = (amountCabinet + amountShelf_wood + amountSlelf_glass + bpa + curve_45 + amountCornice + amountPelmet + amountHardware + amountFitting + amountHings_wood_re);
            total_bpg_re = (amountCabinet + amountShelf_wood + amountSlelf_glass + bpg + curve_45 + amountCornice + amountPelmet + amountHardware + amountFitting + amountHings_wood_re);
            total_pu_re = (amountCabinet + amountShelf_wood + amountSlelf_glass + pu + curve_45 + amountCornice + amountPelmet + amountHardware + amountFitting + amountHings_wood_re);


            total_mlam_ss = (amountCabinet + amountShelf_wood + amountSlelf_glass + m_lam + curve_45 + amountCornice + amountPelmet + amountHardware + amountFitting + amountHings_wood_ss);
            total_gllam_ss = (amountCabinet + amountShelf_wood + amountSlelf_glass + g_lam + curve_45 + amountCornice + amountPelmet + amountHardware + amountFitting + amountHings_wood_ss);
            total_digilam_ss = (amountCabinet + amountShelf_wood + amountSlelf_glass + diglam + curve_45 + amountCornice + amountPelmet + amountHardware + amountFitting + amountHings_wood_ss);
            total_bpa_ss = (amountCabinet + amountShelf_wood + amountSlelf_glass + bpa + curve_45 + amountCornice + amountPelmet + amountHardware + amountFitting + amountHings_wood_ss);
            total_bpg_ss = (amountCabinet + amountShelf_wood + amountSlelf_glass + bpg + curve_45 + amountCornice + amountPelmet + amountHardware + amountFitting + amountHings_wood_ss);
            total_pu_ss = (amountCabinet + amountShelf_wood + amountSlelf_glass + pu + curve_45 + amountCornice + amountPelmet + amountHardware + amountFitting + amountHings_wood_ss);


        } else if (shutterType == "Glass") {
            total_mlam_re = (amountCabinet + amountShelf_wood + amountSlelf_glass + m_lam + curve_45 + amountCornice + amountPelmet + amountHardware + amountFitting + amountHings_glass_re);
            total_gllam_re = (amountCabinet + amountShelf_wood + amountSlelf_glass + g_lam + curve_45 + amountCornice + amountPelmet + amountHardware + amountFitting + amountHings_glass_re);
            total_digilam_re = (amountCabinet + amountShelf_wood + amountSlelf_glass + diglam + curve_45 + amountCornice + amountPelmet + amountHardware + amountFitting + amountHings_glass_re);
            total_bpa_re = (amountCabinet + amountShelf_wood + amountSlelf_glass + bpg + curve_45 + amountCornice + amountPelmet + amountHardware + amountFitting + amountHings_glass_re);
            total_bpg_re = (amountCabinet + amountShelf_wood + amountSlelf_glass + bpa + curve_45 + amountCornice + amountPelmet + amountHardware + amountFitting + amountHings_glass_re);
            total_pu_re = (amountCabinet + amountShelf_wood + amountSlelf_glass + pu + curve_45 + amountCornice + amountPelmet + amountHardware + amountFitting + amountHings_glass_re);

            total_mlam_ss = (amountCabinet + amountShelf_wood + amountSlelf_glass + m_lam + curve_45 + amountCornice + amountPelmet + amountHardware + amountFitting + amountHings_glass_ss);
            total_gllam_ss = (amountCabinet + amountShelf_wood + amountSlelf_glass + g_lam + curve_45 + amountCornice + amountPelmet + amountHardware + amountFitting + amountHings_glass_ss);
            total_digilam_ss = (amountCabinet + amountShelf_wood + amountSlelf_glass + diglam + curve_45 + amountCornice + amountPelmet + amountHardware + amountFitting + amountHings_glass_ss);
            total_bpa_ss = (amountCabinet + amountShelf_wood + amountSlelf_glass + bpg + curve_45 + amountCornice + amountPelmet + amountHardware + amountFitting + amountHings_glass_ss);
            total_bpg_ss = (amountCabinet + amountShelf_wood + amountSlelf_glass + bpa + curve_45 + amountCornice + amountPelmet + amountHardware + amountFitting + amountHings_glass_ss);
            total_pu_ss = (amountCabinet + amountShelf_wood + amountSlelf_glass + pu + curve_45 + amountCornice + amountPelmet + amountHardware + amountFitting + amountHings_glass_ss);

        }

            gst_mlam_re = (total_mlam_re * 28) / 100;
            total_mlam_re_gst = total_mlam_re + gst_mlam_re;

            gst_gllam_re = (total_mlam_re * 28) / 100;
            total_gllam_re_gst = total_gllam_re + gst_gllam_re;

            gst_digilam_re = (total_digilam_re * 28) / 100;
            total_digilam_re_gst = total_digilam_re + gst_digilam_re;

            gst_bpa_re = (total_bpa_re * 28) / 100;
            total_bpa_re_gst = total_bpa_re + gst_bpa_re;

            gst_bpg_re = (total_bpg_re * 28) / 100;
            total_bpg_re_gst = total_bpg_re + gst_bpg_re;

            gst_pu_re = (total_pu_re * 28) / 100;
            total_pu_re_gst = total_pu_re + gst_pu_re;



            gst_mlam_ss = (total_mlam_ss * 28) / 100;
            total_mlam_ss_gst = total_mlam_ss + gst_mlam_ss;

            gst_gllam_ss = (total_mlam_ss * 28) / 100;
            total_gllam_ss_gst = total_gllam_ss + gst_gllam_ss;

            gst_digilam_ss = (total_digilam_ss * 28) / 100;
            total_digilam_ss_gst = total_digilam_ss + gst_digilam_ss;

            gst_bpa_ss = (total_bpa_ss * 28) / 100;
            total_bpa_ss_gst = total_bpa_ss + gst_bpa_ss;

            gst_bpg_ss = (total_bpg_ss * 28) / 100;
            total_bpg_ss_gst = total_bpg_ss + gst_bpg_ss;

            gst_pu_ss = (total_pu_ss * 28) / 100;
            total_pu_ss_gst = total_pu_ss + gst_pu_ss;


        alert(total_mlam_ss_gst);
    },


})


</script>

<script type="text/css">
    .easyWizardSteps {list-style:none;width:100%;overflow:hidden;margin:0;padding:0;border-bottom:1px solid #ccc;margin-bottom:20px}
.easyWizardSteps li {font-size:18px;display:inline-block;padding:10px;color:#B0B1B3;margin-right:20px;}
.easyWizardSteps li span {font-size:24px}
.easyWizardSteps li.current {color:#000}
.easyWizardButtons {overflow:hidden;padding:10px;}
.easyWizardButtons button, .easyWizardButtons .submit {cursor:pointer}
.easyWizardButtons .prev {float:left}
.easyWizardButtons .next, .easyWizardButtons .submit {float:right}
</script>

</body>
</html>